html {
  height: 100%;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  height: 100%;
  width: 100%;
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top,
      #eae6df 0%,
      #eae6df 92%,
      #00a884 92%,
      #00a884 100%);
  background-repeat: no-repeat;

  /* ; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #f0f2f5;
  padding: 20px;
  box-shadow: 0px 0px 2px 0px rgb(95, 96, 95);
  z-index: 1;
}

.input-login {
  border-width: 0px;
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  box-shadow: 0px 0px 2px 0px rgb(95, 96, 95);
  width: 160px;
}

.login-button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: #666666;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  width: 170px;
  margin: 10px;
}

.login-button:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

.login-button:active {
  position: relative;
  top: 1px;
}

#root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app-window{
  position:absolute;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #f0f2f5;
  height: 80%;
  width: 85%;
  margin-top: 50px;
  margin-left: 50px;
  z-index: 0;
  box-shadow: 0px 0px 2px 0px rgb(95, 96, 95);
}

.left-side{
  background-color: white;
  border-right: 1px solid #e9edef;
}

.right-side{
  position: relative;
}

.telephone-input{
  background-color: #f0f2f5;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 10px;
  width: 85%;
  height: 20px;
  font-size: x-small;
  padding-left: 5px;
}

.telephone-input:focus, .message-input:focus, .input-login:focus{
  outline: 1px solid black;
}

.telephone-input::placeholder{
  padding-left: 5px;
  font-size: x-small;
}

.border-input-div{
  border-bottom: 1px solid #e9edef;
  padding-bottom: 10px;
}

.empty-message{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.chat{
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #e9edef;
  padding-bottom: 11px;
}

.messages{
  background-image: url(./messages-background.png);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.chat-field{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.right-chat{
  height: 22px;
  padding: 10px;
}

.message-input{
  background-color: white;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 10px;
  width: 85%;
  height: 20px;
  font-size: x-small;
  padding-left: 5px;
  margin-bottom: 10px;
}

.message-div{
  width: auto;
  padding: 0px 5px 0px 5px;
  font-size: x-small;
  margin: 3px;
  border-radius: 4px;
}

.left-side-message{
  background-color: white;
  align-self: start;
  margin-left: 5px;
}

.right-side-message{
  background-color: #dafdd5;
  margin-right: 5px;
}

.message-text-div{
  padding: 5px;
}

.no-messages{
  align-items: baseline;
  padding: 5px;
}